<a href="https://colab.research.google.com/github/kmahatma/ssmi-patternrecognition/blob/main/week02_03_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 3.	List
# List merupakan merupakan representasi struktur data yang dapat menyimpan data dengan nilai numerik, karakter, dan lain-lain secara bersamaan
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]
print(list1);

['apple', 'banana', 'cherry']

In [2]:
# List: Representasi struktur data yang dapat menyimpan berbagai jenis data

# List dengan string
list1 = ["apple", "banana", "cherry"]

# List dengan angka
list2 = [1, 5, 7, 9, 3]

# List dengan nilai boolean
list3 = [True, False, False]

# List dengan berbagai tipe data
list4 = ["abc", 34, True, 40, "male"]

# Menampilkan isi list
print("List 1 (buah-buahan):", list1)
print("List 2 (angka):", list2)
print("List 3 (boolean):", list3)
print("List 4 (campuran):", list4)

List 1 (buah-buahan): ['apple', 'banana', 'cherry']
List 2 (angka): [1, 5, 7, 9, 3]
List 3 (boolean): [True, False, False]
List 4 (campuran): ['abc', 34, True, 40, 'male']

In [3]:
# Contoh akses elemen list
print("\nElemen pertama dari list1:", list1[0])  # apple
print("Elemen terakhir dari list2:", list2[-1]) # 3
print("Subset list4 (elemen ke-2 sampai ke-4):", list4[1:4]) # [34, True, 40]

Elemen pertama dari list1: apple
Elemen terakhir dari list2: 3
Subset list4 (elemen ke-2 sampai ke-4): [34, True, 40]